.myborder {
  border: 3px solid rgb(27, 173, 27);
}

.panel-style {
  width: 100%;
  // border: 1px solid rgb(245, 96, 96);
  // background-color: inherit;
  // padding-top: 11;

  .ant-table-thead>tr>th {
    background: rgb(161, 185, 164);
    font-weight: bold;
    font-size: 16px;
  }

  .ant-table-row td{
    white-space:nowrap;
    }    
}


.InspectionListPage {
  .ant-table-pagination.ant-pagination {
    display: flex;
    width: 100%;
  }
  
  .ant-pagination-total-text {
    flex: 1;
  }

  .tabstyle {
    .ant-tabs-nav-container {
      font-size: 18px;
      line-height: 24px;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #66A700;
    }
    .ant-tabs-ink-bar {
      background-color: #A0CC57;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #CFDFB7;
    }
    .ant-table-thead>tr>th { // column
      background: linear-gradient(90deg, #62A4AA 0%, #67ADB3 100%);
      color: #ffffff;
    }
    .ant-table-thead th.ant-table-column-has-sorters:hover {
      background: linear-gradient(90deg, #62A4AA 0%, #67ADB3 100%);
    }
    .ant-table-row:nth-child(odd){
      background: #F1F9FA ;
      .ant-table-cell-fix-right-first{
        background: #F1F9FA;
      }
    }

    .ant-table-tbody > tr.ant-table-row:hover > td + .ant-table-cell-fix-right-first{
      background: #E4FCFC ;
    }
  
    td.ant-table-column-sort {
      background: none;
    }
  

    .ant-tabs-nav-scroll {
      margin-top: -12px;
    }

    .ant-tabs-bar {
      margin: 0;
    }

    .searchForm {
      .ant-row {
        height: 36px;
      }
    }

    // Scroll TabPane

    .ant-tabs {
      padding-bottom: 40px;
      height: 100%;
    }

    .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated, .ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
      height: 100%;
    }
  }

  .WorkOrderList {
    .ant-tabs-bar {
      width: 839px;
    }
    // .ant-row {
    //   height: 36px;
    // }
  }

  .WorkOrderList_matchesFull {
    .ant-tabs-bar {
      width: 714px;
    }
  }

  .WorkOrderList_Full {
    .ant-tabs-bar {
      width: 984px;
    }
  }

  .WorkOrderList_M {
    .ant-tabs-bar {
      width: 570px;
    }

    // .ant-row {
    //   height: 36px;
    // }
  }

  .AddWorkOrder {
    .ant-tabs-bar {
      width: 903px;
    }

    .ant-table-row:nth-child(odd){
      background: #FFFFFF ;
      .ant-table-cell-fix-right-first{
        background: #FFFFFF;
      }
    }

    .ant-table-row:nth-child(even){
      background: #F1F9FA ;
      .ant-table-cell-fix-right-first{
        background: #F1F9FA;
      }
    }

    td.ant-table-column-sort {
    background: none;
    }

  }
  

  .AddWorkOrder_M {
    .ant-tabs-bar {
      width: 633px;
    }

    .ant-table-row:nth-child(odd){
      background: #FFFFFF ;
      .ant-table-cell-fix-right-first{
        background: #FFFFFF;
      }
    }

    .ant-table-row:nth-child(even){
      background: #F1F9FA ;
      .ant-table-cell-fix-right-first{
        background: #F1F9FA;
      }
    }

    td.ant-table-column-sort {
    background: none;
    }
  }

  .WorkOrder {
    .ant-tabs-bar {
      width: 757px;
    }
  }

  .WorkOrder_M {
    .ant-tabs-bar {
      width: 487px;
    }
  }

  .ant-pagination-total-text {
    float: right;
  }

  .ant-divider-horizontal {
    margin: 36px 0;
  }

  .scrollTable {
    
    .ant-table-wrapper {
      height: 100%;
    }

    .ant-spin-nested-loading {
      height: 100%;
    }

    .ant-spin-container {
      height: 100%;
    }

    .ant-table {
      height: 100%;
    }

    .ant-table-container {
      height: 100%;
    }
  }
}